@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Horizondrift';
  src: url('./assets/fonts/horizondrift-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
