@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Horizondrift';
  src: url('./assets/fonts/horizondrift-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
